# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeLists.txt
.idea/.name
.idea/CP2406-A3-StarterPack.iml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml

# CLion project files
.idea
cmake-build-*
